# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# Terraform
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp